# Checking if Credit card transaction is fraud or not

In [47]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pickle

### Data Collection and Visualization

In [2]:
credit_dataset=pd.read_csv('creditcard.csv')
credit_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
credit_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
# statistical measure of dataset

credit_dataset.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [5]:
# number of rows and columns

credit_dataset.shape

(284807, 31)

In [6]:
# checking null values

credit_dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# checking legit and fraud transaction
# 0 --> legit
# 1 --> Fraud
credit_dataset['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [10]:
# not balanced dataset it is highly unbalanced beacuse there is a huge difference in legit and fraud transaction

In [12]:
# separating dataset for analysis

legit=credit_dataset[credit_dataset.Class==0]
fraud=credit_dataset[credit_dataset.Class==1]

In [15]:
fraud.shape

(492, 31)

In [16]:
legit.shape

(284315, 31)

In [18]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [19]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [20]:
# compare the values for both transactions

credit_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Undersampling

In [21]:
# build a sample dataset containing similar distribution of normal transaction and fraud transaction

In [22]:
# Number of fraud transaction is 492

legit_sample=legit.sample(n=492)

In [23]:
legit_sample.shape

(492, 31)

In [24]:
# concatenating two dataset

new_credit=pd.concat([legit_sample,fraud],axis=0)
new_credit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
44222,41851.0,1.038297,-0.176105,1.025912,1.052463,-0.619340,0.544665,-0.705634,0.374751,0.343991,...,0.175589,0.418603,-0.053827,-0.327311,0.239864,-0.330421,0.062071,0.028820,45.00,0
263612,161035.0,-0.629607,-0.271002,1.714426,-3.007261,-0.776961,-0.683528,-0.163676,-0.026845,-1.958415,...,-0.204404,-0.106879,-0.379466,-0.141483,0.673419,-0.111084,0.275990,0.110557,10.40,0
13775,24429.0,1.109985,0.368032,-0.061407,1.376844,0.070437,-1.100573,0.610397,-0.487201,0.920589,...,-0.088583,-0.126343,-0.217999,0.358122,0.814626,-0.345815,-0.048111,0.020956,89.99,0
82507,59431.0,-1.557537,1.126746,-0.162840,-0.512473,0.842401,3.975269,-1.729796,2.085803,-0.255757,...,0.401167,0.727271,-0.118187,1.064186,-0.455601,0.496810,-0.743302,-0.301707,14.59,0
245510,152778.0,0.949360,-1.803757,-0.416588,1.543983,-0.963717,0.714863,-0.260316,0.166097,0.770274,...,0.434229,0.297167,-0.133789,0.707055,-0.517420,-0.835934,-0.011043,0.062803,489.00,0

In [26]:
new_credit.shape

(984, 31)

In [28]:
new_credit['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [30]:
new_credit.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93711.042683,0.033429,0.059242,0.078957,0.008323,-0.021741,-0.076251,0.014529,-0.042484,0.019859,...,-0.035835,0.078696,-0.015456,-0.007013,0.007498,-0.027183,0.001409,-0.002971,0.002301,81.630772
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [31]:
# Splitting features and labels

X=new_credit.drop('Class',axis=1)
y=new_credit['Class']

In [32]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
44222,41851.0,1.038297,-0.176105,1.025912,1.052463,-0.619340,0.544665,-0.705634,0.374751,0.343991,...,-0.098256,0.175589,0.418603,-0.053827,-0.327311,0.239864,-0.330421,0.062071,0.028820,45.00
263612,161035.0,-0.629607,-0.271002,1.714426,-3.007261,-0.776961,-0.683528,-0.163676,-0.026845,-1.958415,...,-0.217525,-0.204404,-0.106879,-0.379466,-0.141483,0.673419,-0.111084,0.275990,0.110557,10.40
13775,24429.0,1.109985,0.368032,-0.061407,1.376844,0.070437,-1.100573,0.610397,-0.487201,0.920589,...,0.013662,-0.088583,-0.126343,-0.217999,0.358122,0.814626,-0.345815,-0.048111,0.020956,89.99
82507,59431.0,-1.557537,1.126746,-0.162840,-0.512473,0.842401,3.975269,-1.729796,2.085803,-0.255757,...,-0.101750,0.401167,0.727271,-0.118187,1.064186,-0.455601,0.496810,-0.743302,-0.301707,14.59
245510,152778.0,0.949360,-1.803757,-0.416588,1.543983,-0.963717,0.714863,-0.260316,0.166097,0.770274,...,0.817650,0.434229,0.297167,-0.133789,0.707055,-0.517420,-0.835934,-0.011043,0.062803,489.00

In [34]:
y.head()

44222     0
263612    0
13775     0
82507     0
245510    0
Name: Class, dtype: int64

### Train test split

In [35]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [37]:
X_train.shape

(787, 30)

In [38]:
X_test.shape

(197, 30)

In [39]:
y_train.shape

(787,)

In [40]:
y_test.shape

(197,)

## Training the model

In [41]:
model=LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

## Model Evaluation

In [43]:
# on train data

model_train_pred=model.predict(X_train)
model_train_acc=accuracy_score(model_train_pred,y_train)
print("Accuracy : ",round(model_train_acc*100,2),"%")

Accuracy :  93.77 %

In [44]:
# on test data

model_test_pred=model.predict(X_test)
model_test_acc=accuracy_score(model_test_pred,y_test)
print("Accuracy : ",round(model_test_acc*100,2),"%")

Accuracy :  93.4 %

### Predictive system

In [46]:
input_data=(406,-2.3122265423263,1.95199201064158,-1.60985073229769,3.9979055875468,-0.522187864667764,-1.42654531920595,-2.53738730624579,1.39165724829804,-2.77008927719433,-2.77227214465915,3.20203320709635,-2.89990738849473,-0.595221881324605,-4.28925378244217,0.389724120274487,-1.14074717980657,-2.83005567450437,-0.0168224681808257,0.416955705037907,0.126910559061474,0.517232370861764,-0.0350493686052974,-0.465211076182388,0.320198198514526,0.0445191674731724,0.177839798284401,0.261145002567677,-0.143275874698919,0)

input_data_asarray=np.asarray(input_data)

input_data_reshaped=input_data_asarray.reshape(1,-1)

prediction=model.predict(input_data_reshaped)

prediction

C:\Users\ACER\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

### Pickle file

In [50]:
pickle.dump(model,open('creditCard.pkl','wb'))

In [52]:
pickled_model=pickle.load(open('creditCard.pkl','rb'))

In [54]:
pickled_model.predict(input_data_reshaped)

C:\Users\ACER\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)